{%extends 'layouts/base.html'%}


{%load static%}



{%block content%}

<a href="/view_admin/">Volver al Panel</a>


<h1>Crear Empleado</h1>

<form action="" method="post">
  {% csrf_token %} <!-- Agregar el token CSRF aquí -->

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="lastname">Lastname:</label>
  <input type="text" id="name" name="lastname" required>

  <label for="age">Age:</label>
  <input type="number" id="name" min="18" name="age" required>

  <label for="gender">Gender:</label>
  <select name="gender" id="" required>
    <option value="">Select</option>
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>

  <label for="email">Correo Electrónico:</label>
  <input type="email" id="email" name="email" required>

  <label for="charge">Charge:</label>
  <select name="charge" id="" required>
    <option value="">Select</option>
    <option value="vigilant">vigilant</option>
    <option value="gardener">gardener</option>
    <option value="concierge">concierge</option>
  </select>

  <label for="salary">Salary:</label>
  <input type="number" id="name" min="10" name="salary" required>


  <label for="phone">Phone:</label>
  <input type="text" id="phone" name="phone" pattern="[0-9]{11,}" maxlength="11" minlength="11" required>


  <label for="condominio">Seleccionar el Condominio que le pertenece:</label>
  <select name="condominio" id="condominio" required>
    <option value="">Select</option>
    {% for condominio in condominios %}
    <option value="{{ condominio.id }}">{{ condominio.name }} - {{ condominio.address }}</option>
    {% endfor %}
  </select>

  <button type="submit">Registrar</button>
</form>

{%endblock%}