{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 20px;">
  <div class="card">
    <a href="/view_admin/" class="button">Volver al Panel</a>

    <h2>Crear Edificio</h2>

    <form action="" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="condominio">Seleccionar el Condominio que le pertenece:</label>
        <div class="select">
        <select name="condominio" id="condominio" required>
          <option value="">Seleccionar</option>
          {% for condominio in condominios %}
          <option value="{{ condominio.id }}">{{ condominio.name }} - {{ condominio.address }}</option>
          {% endfor %}
        </select>
      </div>
      </div>

      <div class="form-group">
        <label for="bloque">Bloque:</label>
        <input type="text" name="bloque" id="bloque" required>
      </div>

      <div class="form-group">
        <label for="year_construction">Año de Construcción:</label>
        <input type="date" id="year_construction" name="year_construction" required>
      </div>

      <button type="submit">Crear</button>
    </form>
  </div>
</div>

{% endblock %}
