{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 20px;">
  <div class="card">
    <a href="/view_admin/" class="button">Volver al Panel</a>

    <h2>Eliminar Empleado</h2>

    <form action="" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="empleado">Seleccionar el empleado a eliminar:</label>
        <div class="select">
        <select name="empleado" id="empleado" required>
          {% for empleado in empleados %}
          <option value="{{ empleado.id }}">
            {{ empleado.id }} - {{ empleado.name }} {{ empleado.lastname }}
          </option>
          {% endfor %}
        </select>
      </div>
      </div>

      <button type="submit">Eliminar</button>
    </form>
  </div>
</div>

{% endblock %}
