{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 20px;">
  <div class="card">
    <a href="/view_admin/" class="button">Volver al Panel</a>

    <h2>Eliminar Condominio</h2>

    <form action="" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="condominio">Seleccionar el Condominio que desea Eliminar:</label>
        <div class="select">
        <select name="condominio" id="condominio" required>
          {% for condominio in condominios %}
          <option value="{{ condominio.id }}">
            {{ condominio.name }} - {{ condominio.address }} - {{ condominio.city }} - 
            {{ condominio.year_construction }} - {{ condominio.number_of_dwellings }}
          </option>
          {% endfor %} 
        </select>
      </div>
      </div>

      <button type="submit">Eliminar</button>
    </form>
  </div>
</div>

{% endblock %}
