{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

 <!-- CREAR LA PANTILLA DE LA TABLA -->

 <!-- acomodar esta etiqueta 'a' para que se muestre de otra manera (css) -->
<a href="/view_admin/">Volver al Panel</a>
 
<table>
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Año de Construcción</th>
    </tr>
    {% for condominio in condominios %}
    <tr>
        <td>{{ condominio.name }}</td>
        <td>{{ condominio.address }}</td>
        <td>{{ condominio.city }}</td>
        <td>{{ condominio.year_construction }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}