{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

 <!-- CREAR LA PANTILLA DE LA TABLA -->

 <!-- acomodar esta etiqueta 'a' para que se muestre de otra manera (css) -->


 <header>
    <a href="" class="logo">
        <img src="{% static 'img/view_admin.png' %}" alt="Imagen Administrador">
        <h2 class="nombre-pag">USUARIO ADMINISTRADOR</h2>
    </a>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Edificios</button>
            <div class="dropdown-content">
                <a href="{% url 'view_edificio'%}">Ver Edificios</a>
                <a href="">Crear Edificios</a>
                <a href="">Modificar Edificios</a>
                <a href="">Eliminar Edificios</a>
            </div>
        </div>
        <a href="/" class="nav-link" style="float: right;">Cerrar Sesión</a>
    </nav>
</header>

 <a href="/view_admin/">Volver al Panel</a>
 
<table>
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Año de Construcción</th>
    </tr>
    {% for condominio in condominios %}
    <tr>
        <td>{{ condominio.name }}</td>
        <td>{{ condominio.address }}</td>
        <td>{{ condominio.city }}</td>
        <td>{{ condominio.year_construction }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}