{% extends 'layouts/base2.html'%}
{% load static %}

{% block content %}

<div class="container-center" style="margin-top: 20px;">
  <div class="contenedor">
    <a href="/view_admin/">Volver al Panel</a>

    <h1>Modificar Condominio</h1>

    <form action="" method="post">
      {% csrf_token %}

      <label for="condominio">Seleccionar Condominio:</label>
      <div class="select">
      <select name="condominio" id="condominio">
        {% for condominio in condominios %}
          <option value="{{ condominio.id }}">{{ condominio.name }} - {{ condominio.address }}</option>
        {% endfor %}
      </select>
    </div>

      <br><br>

      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" required>

      <label for="address">Dirección</label>
      <input type="text" id="address" name="address" pattern="[A-Za-z0-9\s]{1,50}"
        title="La dirección debe contener caracteres alfanuméricos y espacios, con un máximo de 50 caracteres." required>

      <label for="city">Ciudad</label>
      <input type="text" name="city" id="city" required>

      <label for="year">Año de Construcción</label>
      <input type="date" name="year" id="year" required>

      <button type="submit">Actualizar</button>
    </form>
  </div>
</div>



{% endblock %}