{% extends 'layouts/base.html'%}
{% load static %}


{%block content%}
    <header class="bg-light">
        <a href="" class="logo bg-light">
            <img src="{% static 'img/view_admin.png' %}" alt="Imagen Administrador">
            <h2 class="nombre-pag">USUARIO ADMINISTRADOR</h2>
        </a>
    </header>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="ml-2 breadcrumb-item">
                <a class="ml-4 bg-light breadcrumb-item" href="/view_admin/">
                    Home
                </a>
            </li>
            <li style="font-size: 1.7rem;" class="mt-4 breadcrumb-item active" aria-current="page">
                Ver Condominios
            </li>
            <li style="font-size: 1.7rem;" class="mt-4 breadcrumb-item active" aria-current="page">Vista de Edificios</li>
        </ol>
    </nav> 

    <nav class="ml-5">
        <div class="dropdown">
            <button class="dropbtn">Departamentos</button>
            <div class="dropdown-content">
                <a href="{% url 'read_departamento'%}">Ver Departamentos</a>
                <a href="{% url 'create_departamento'%}">Crear Departamentos</a>
                <a href="{% url 'update_departamento'%}">Modificar Departamentos</a>
                <a href="{% url 'delete_departamento'%}">Eliminar Departamentos</a>
            </div>
        </div>
    </nav>

    <!-- CREAR LA PANTILLA DE LA TABLA -->
    <div class="mt-3 md-3 ml-5 mr-5 d-flex justify-content-center">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Condominio</th>
                    <th>Bloque</th>
                    <th>Año de Construcción</th>
                </tr>
            </thead>
            <tbody>
                {% for edificio in edificios %}
                    <tr>
                        <td>{{ edificio.condominio.name}}</td>
                        <td>{{ edificio.bloque }}</td>
                        <td>{{ edificio.year_construction }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}