{% extends 'layouts/base.html'%}
{% load static %}


{%block content%}

<!-- aqui va la nav del admin -->

<header>
    <a href="" class="logo">
        <img src="{% static 'img/view_admin.png' %}" alt="Imagen Administrador">
        <h2 class="nombre-pag">USUARIO ADMINISTRADOR</h2>
    </a>
    <nav>

        <!--Formulario que contiene la redireccion al chat global de la página-->
        <!--<a href="about_us.php" class="nav-link">Sobre Nosotros</a>-->
        <!--<a href="" class="nav-link">Regresar</a>-->
        <a href="{% url 'read_employee'%}">Ver Empleados</a>
        <a href="{% url 'create_employee'%}">Crear Empleado</a>
        <a href="{% url 'read_condominium'%}">Ver Condominios</a>
        <a href="{% url 'create_condominium'%}">Crear Condominios</a>
        <a href="{% url 'update_condominium'%}">Modificar Condominios</a>
        <a href="{% url 'delete_condominium'%}">Eliminar Condominios</a>
        <a href="{% url 'read_owner'%}">Ver Propietarios</a>
        <a href="{% url 'create_owner'%}">Crear Propietarios</a>
        <a href="{% url 'update_owner'%}">Modificar Propetarios</a>
        <a href="/" class="nav-link">Cerrar Sesion</a>

    </nav>
</header>
<h1>Hola Administrador</h1>

<!--  -->






{%endblock%}