{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

{% if session_present %}
    <h1>Bienvenido</h1>
        
    {% if request.session.user %}
        <p>Tu ID de usuario es: {{ request.session.user.id }}</p>
        <p>Tu nombre de usuario es: {{ request.session.user.name }}</p>
        <p>Tu correo electrónico es: {{ request.session.user.email }}</p>
    {% endif %}
        <h1>Bienvenido, {{ user_info.name }}</h1>
        <h2>Tus departamentos:</h2>
        {% if departamentos_usuario %}
            <!-- El objeto departamentos no está vacío, puedes mostrar su contenido -->
            <ul>
                {% for departamento in departamentos_usuario %}
                    <b>Departamento: </b>
                    <li>Condominio: {{ departamento.departamento.edificios.condominio.name }}</li>
                    <li>Edificio: {{ departamento.departamento.edificios.bloque }}</li>
                    <li>Nro departamento: {{ departamento.departamento.nro_dpto }}</li>
                {% endfor %}
            </ul>
        <h2>Pagos realizados:</h2>
            {% for pago in pagos_condominio %}
                <b>Pagos realizados para el condominio {{ pago.condominio.name }}:</b>
                {% if pago.pagos %}
                    <ul>
                        {% for pago_condominio in pago.pagos %}
                            <li>Monto: {{ pago_condominio.monto_pago }}</li>
                            {% if pago_condominio.descripcion%}
                                <li>Descripción: {{ pago_condominio.descripcion }}</li>
                            {% else %}
                                <li>Descripción: (sin descripcion)</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <li>No se encontraron pagos realizados.</li>
                {% endif %}
            {% endfor %}

        <form action="{% url 'pago_mantenimiento' %}" method="GET">
            <button type="submit">Pagar Mantenimiento de Condominios</button>
        </form>
    {% else %}
        <!-- El objeto departamentos está vacío, muestra un mensaje o realiza alguna acción alternativa -->
        <p>No hay departamentos disponibles.</p>
    {% endif %}
{% else %}
    <!-- Mostrar un mensaje de error si no se encuentra la sesión -->
    <h1>Error: No se encontró la sesión del usuario, Login: <a href="/" >Login</a></h1>
{% endif %}

{% endblock %}


